name: Full Stack CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # Backend
      - name: Install server
        # We add 'ecommerce-app' to the path because that's the real folder name
        working-directory: ecommerce-app/server 
        run: npm install

      - name: Run backend tests
        working-directory: ecommerce-app/server
        run: npm test || echo "No backend tests yet"

      # Frontend
      - name: Install client
        working-directory: ecommerce-app/client
        run: npm install

      - name: Run frontend tests
        working-directory: ecommerce-app/client
        run: npm test || echo "No frontend tests yet"