name: Deploy to Production

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy Backend
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}

      - name: Deploy Frontend
        run: curl -X POST ${{ secrets.VERCEL_DEPLOY_HOOK }}
